<div class="filter">
    <div class="sub-header">Filters</div>
    <div>
        <div class="filter-header">Launch Year</div>
        <div>
            <span *ngFor="let year of years; let i = index;">
                <button class="custom-button" [ngClass]="{'active': queryParams.launchYear == year}" (click)="yearSelected(year)">{{year}}</button>

                <span *ngIf="i %2 == 1">
                    <br>
                </span>
            </span>

        </div>
    </div>

    <div>
        <div class="filter-header">Successful Launch</div>
        <div>
            <button class="custom-button" [ngClass]="{'active': queryParams.launchSuccess == true}" (click)="successfulLaunchSelected(true)">True</button>
            <button class="custom-button" [ngClass]="{'active': queryParams.launchSuccess == false}" (click)="successfulLaunchSelected(false)">False</button>
        </div>
    </div>

    <div>
        <div class="filter-header">Successful Landing</div>
        <div>
            <button class="custom-button" [ngClass]="{'active': queryParams.landSuccess == true}" (click)="successfulLandSelected(true)">True</button>
            <button class="custom-button" [ngClass]="{'active': queryParams.landSuccess == false}" (click)="successfulLandSelected(false)">False</button>
        </div>
    </div>

</div>